# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.venv/
env/

# IDEs
.idea/
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Testes
.pytest_cache/

# Arquivos temporários
*.tmp

# SQLite
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env